<%= form_for @resource do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :title %>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.object.class.human_attribute_name(:image) %>
        </div>
        <div class="panel-body">
          <%= f.uploader :image, preview: true %>
        </div>
      </div>
    </div>
    <%= f.submit %>
  </div>
<% end %>
